/* For rotating text. */
.rotate {
	/*transform-origin: 0 0;*/
	writing-mode: vertical-lr;
	text-orientation: mixed;
	transform: rotate(180deg);
}

.parent-image {
	position: relative;
	top: 0;
	left: 0;
}

.image1 {
	position: relative;
}

.image2 {
	position: absolute;
	top: 0;
	left: 0;
}

.parent-image .row {
	position: absolute;
	top: 0.2vw;
	left: 0;
	width: 100%;
	block-size: fit-content;
	font-size: 2vw;
	/*border: 1px solid black;*/
}

/**
 * 23 Column grids
 */

.row .col23 {
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0;
	min-height: 1px;
}

.row .col23.s1 {
	width: 4.34782608696%;
	left: auto;
	right: auto;
	margin-left: auto;
	/*border: 1px solid black;*/
}


/*
 * Transitions
 */

.bg-transition-1000 {
	transition: background-color 1000ms linear;
}

.bg-transition-5000 {
	transition: background-color 5000ms linear;
}
