{% block title %}

{% endblock %}

{% block content %}
<div class="oteeddho-unloaded-div">
  <!-- Cover Image -->
  <div class="container container-fluid p-5">
    <div class="row justify-content-center">
      <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <img src="images/cover.svg" alt="Cover">
      </div>
    </div>
  </div>

  <!-- Links of Stories -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7">
        <div id="stories">
          <div class="h1">গপ্পো</div>

          <div class="card">
            <div class="card-header">
              এপ্রিল, ২০২১
            </div>
            <div class="card-body">
              <h4 class="card-title">শাহরিক</h4>
              <p class="card-text">
                শত বিপত্তি সত্ত্বেও আমি শান্তার কথা লিখবো, কারণ এই কথাগুলা লিখে রাখা জরুরি। একটা সময় আসবে, যখন এইসব কথা পুনরাবৃত্ত করতে শত শত মৃতদেহ ভীড় করবে, তারা হাত বাড়ায়ে দিবে, কান ছড়ায়ে দিবে, তারা উন্মত্ত হয়ে চিৎকার করবে। তারা মাটির ওপর দাঁড়ায়ে মাটিকে কাদায় পরিণত করবে, এবং...
              </p>
              <a href="1-shahorik.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              মে, ২০২১
            </div>
            <div class="card-body">
              <h4 class="card-title">ব্যাখ্যাতীত</h4>
              <p class="card-text">
                এইরকম দিন আসে, এইরকমই একেকটা দিন আসে…<br>
                যেই ভোরে অমলের মৃত্যু ঘটবে, সেই ভোরটা হবে গ্লুমি<br>
                কেমন একটা আবছা আলো চারদিকে<br>
                কেমন একটা আবছা অন্ধকারে ডুবে থাকবে...
              </p>
              <a href="2-byakhyateeto.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              মে, ২০২১
            </div>
            <div class="card-body">
              <h4 class="card-title">ধানমন্ডি আড়াইয়ের মধ্যসন্ধ্যায় যেমন করে বিষণ্নতা নামে</h4>
              <p class="card-text">
                এবং এভাবেই এটা ঘটবে—<br>
                মিতু একইসঙ্গে জন-অরণ্যে ও শব্দহীন সলিচুডে মাথা চেপে বসে থাকবে<br>
                তাকে দেখা যাবে<br>
                তাকে দেখা যাবে না<br>
                প্রতি মুহূর্তে একটা মিতু অদৃশ্য হয়ে আরেকটা মিতু দৃশ্যমান হবে...
              </p>
              <a href="3-dhanmondi-arhaiyer-modhyoshondhay-jemon-kore-bishonnota-name.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              জুলাই, ২০২১
            </div>
            <div class="card-body">
              <h5 class="card-title">উপত্যকা, সেন্ট্রাল রোড</h5>
              <p class="card-text">
                সেন্ট্রাল রোডের উপত্যকায় এক্স্যাক্ট এমন একটা সন্ধ্যা নামবে...
              </p>
              <a href="4-upotyoka-central-road.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div id="footer" class="bg-dark text-light mt-5">
    <div class="container small text-center p-3">
      &copy; ২০২১, সুরম্য আর্য<br>
    </div>
  </div>
</div>
{% endblock %}
