{% block meta %}
{
"title": "মজারতম সপ্তদশ মৃত্যু",
"description": "তোমার সামনে একটা পথই খোলা থাকবে, এবং পথটা হবে ইনহেরেন্টলি স্যাড",
"image": "https://shurommo-arzo.web.app/images/web_preview_10.png"
}
{% endblock %}

{% block content %}
<!-- Onload Modal -->
<div class="container">
  <!-- Button to trigger the modal -->
  <button class="d-none" data-bs-target="#info" data-bs-toggle="modal" id="10-mt" type="button"></button> <!-- `mt` means `modal trigger` -->
  <!-- Modal to request readers to use a headphone -->
  <div aria-hidden="true" aria-labelledby="" class="modal fade" data-bs-keyboard="false" id="info" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="mt-3 mb-3">
            হেডফোন ব্যবহার করা যেতে পারে।
          </div>
          <div>
            <button id="10-y" type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">আচ্ছা</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Div -->
<div>

  <!-- First div -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
        <h1 class="text-start">মজারতম সপ্তদশ মৃত্যু</h1>
        <p id="10-l-1" class="10-fil">তোমার সামনে একটা পথই খোলা থাকবে, এবং পথটা হবে ইনহেরেন্টলি স্যাড।</p> <!-- `l` for `line`, `fil` for `fade-in-line` -->
        <p id="10-l-2" class="10-fil" style="margin-left: 7.5%;">কারণ</p>
      </div>
    </div>
  </div>

  <!-- Div of solo and graphics -->
  <div class="container-fluid" id="10-sag"> <!-- `sag` means `solo-and-graphics` -->
    <!-- `i` for `graphics-of-solo` -->
    <div class="row">
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-01.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-02.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-03.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-04.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-05.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-06.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-07.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-08.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-09.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-10.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-11.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-12.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-13.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-14.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-15.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-16.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-17.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-18.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-19.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-20.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-21.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-22.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-23.svg" class="10-gos" alt="" width="100%"></div>
      <div class="col col-6 col-sm-6 col-md-4 col-lg-3"><img src="images/10-mojartomo-shoptodosh-mrrityu-24.svg" class="10-gos" alt="" width="100%"></div>
    </div>
  </div>

  <!-- Post solo divs -->
  <div id="10-psd"> <!-- `psd` means `post-solo-divs` -->
    <!-- Post solo div -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
          <p>তুমি চমকে উঠবে চিন্তার গভীরে, তুমি কাঁপতে থাকবে ভঙ্গুর শরীরে—</p>
          <p style="margin-left: 7.5%;">এই চিন্তা কি তোমার চিন্তা</p>
          <p style="margin-left: 7.5%;">এই শরীর কি তোমার</p>
          <p style="margin-left: 7.5%;">এইসব চিন্তা</p>
          <p style="margin-left: 7.5%;">আর এই শরীর</p>
          <p style="margin-left: 7.5%;">এইসব, এইসব</p>
        </div>
      </div>
    </div>

    <!-- Div of `stop it` -->
    <div class="container-fluid">
      <img src="images/10-mojartomo-shoptodosh-mrrityu-text-stop-01.svg" alt="" width="80%" class="rounded float-start">
      <img src="images/10-mojartomo-shoptodosh-mrrityu-text-stop-02.svg" alt="" width="80%" class="rounded float-end">
    </div>

    <!-- Post `stop it div -->
    <div class="container" style="clear: right"> <!-- Details: https://stackoverflow.com/a/5214956 -->
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
          <p>শারীরেয় সুপ্রাচীন প্রাচীরের প্রতিরোধ ভেদ করবে অর্বাচীন চিন্তার পরাবোধ আর আবির্ভাব ঘটবে তোমার সপ্তদশ মৃত্যুর যেই মৃত্যুটা সবচাইতে মজার</p>
        </div>
      </div>
    </div>

    <!-- Div of `hi hi` -->
    <div class="container-fluid">
      <img src="images/10-mojartomo-shoptodosh-mrrityu-text-hihi.svg" alt="" width="100%">
    </div>

    <!-- Last div -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
          <p>তুমি মারা যাবে লুসিড একটা স্বপ্ন দেখে—যেই স্বপ্নে গাঢ় ফিজিকাল সেনসেশন হবে তোমার, ঝমঝম করবে কাঁপবে সারা শরীর—</p>

          <div class="fst-italic" style="margin-left: 10%; margin-right: 10%;">
            <p>এবং তোমার ঘুম ভেঙে যাবে রাত্তির তিনটায়। অন্ধকার ঘরজুড়ে তুমি একা। তবু একজন তাকিয়ে, তোমার দিকে। তার চেহারা তুমি দেখবে না, কেবল সিলুয়েটটা ভাসবে। আবছায়া শক্তিতে তোমার পা ধরে সে টানবে। তোমার পায়ে সে সুড়সুড়ি দিবে। আদিম একটা ভয় গ্রাস করবে তোমাকে, তুমি অস্থির হয়ে পড়বে। পাগলের মতো চেষ্টা করবে, পা সরিয়ে নিতে। কিন্তু একটা আঙুলও নড়বে না। পারবে না তুমি শ্বাস নিতে, পারবে না কোনো কথা বলতে।</p>

            <p>এবং সারপ্রাইজ—তুমি সেইরাতে মারা যাবে!</p>

            <p>অথবা, হয়তো, তুমি ইউথেনাইজ্‌ড হবে। রাত্তির তিনটায় ঘুম ভেঙে দেখবে, সারা ঘর আলোময়—যেন মর্গ। তোমার সামনে বাক্‌সো হাতে ডাক্তার দাঁড়িয়ে। সে তোমাকে অ্যাসিস্ট করবে, ইউথেনেশিয়ার প্রক্রিয়াটুকুতে। তার বাক্‌সো থেকে একে একে তিনটা অ্যাম্পুল বের হবে। প্রথম ইনজেকশনটা নিয়ে তুমি শান্ত হবে—কেমন ঘোর ঘোর লাগবে সবকিছু। ঘুমচোখে তুমি নিজেই দ্বিতীয় ইনজেকশন শরীরে ঢোকাবে—নিমেষে শরীর অবশ হয়ে যাবে তোমার। এখনো চোখ খোলা, দেখতে পাবে সবকিছু। তবু নড়তে পারবে না একটুও। সেই অবস্থায় ডাক্তার তৃতীয় ইনজেকশনটা দিবে তোমাকে। ওষুধটা কিক করামাত্র তোমার হার্ট অ্যাটাক ইনিশিয়েটেড হবে। ব্যথা ছড়িয়ে পড়ছে, তুমি টের পাবে। কেবল কিছু বলতে পারবে না, পারবে না শ্বাস নিতে।</p>

            <p>এবং সারপ্রাইজ—পরদিন সকালে কোনো ব্যাখ্যা ছাড়া তোমার মৃতদেহ বিছানায় পড়ে থাকবে!</p>
          </div>

          <p>জাগ্রত হও না তুমি, হও আবিষ্কৃত; আর চতুর্দিকে জন্ম ইন্দ্রিয়জাত ইলিউশন।</p>

          <p style="margin-left: 2%;">দেখবে না কেউ বিহ্বলতার শঙ্কাতে</p>
          <p style="margin-left: 5%;">অজর এই অপ্রকাশ মাত্রা</p>
          <p style="margin-left: 2%;">এপ্রিলের এক গভীর রাতের সংঘাতে</p>
          <p style="margin-left: 5%;">মজারতম সপ্তদশ মৃত্যু</p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Additional JS -->
<script src="js/story-10.min.js"></script>
{% endblock %}
