{% block meta %}
{
"title": "সম্ভাব্য চতুর্থ রাউন্ড",
"description": "এই শহরের কোথাও কোথাও আজ nuvole bianche বৃষ্টি হবে",
"image": "https://shurommo-arzo.web.app/images/web_preview_11.png"
}
{% endblock %}

{% block content %}
<!-- Main Div -->
<div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
        <h1 class="text-start">সম্ভাব্য চতুর্থ রাউন্ড</h1>
        <p>এই শহরের কোথাও কোথাও আজ nuvole bianche বৃষ্টি হবে।</p>
        <p>ঠিক ষোলো সালের দেজা ভ্যু, ফিরে ফিরে বারবার আসে। কেমন বিমূঢ় দাঁড়িয়ে থাকতাম থাকবো আমরা স্ট্যাটের মাঠে। তৃতীয় রাউন্ডের চা হাতে ছিলো, কিন্তু খাওয়া হয়নি হবে না কোনোদিন, স্রেফ চায়ের কাপ সামনে মূর্তিমান</p>
        <p style="margin-left: 7.50%">তুমি</p>
        <p style="margin-left: 15.0%">তোমার</p>
        <p style="margin-left: 22.5%">তোমরা</p>
        <p style="margin-left: 30.0%">সবাই;</p>
        <p style="margin-left: 37.5%">দক্ষিণের ভেজা ভেজা বাতাসে উড়তো আসবে অসাড়তার বার্তা, আধটু একটু করে মুছতো মুছবে মলিনতায় নামটা,</p>
        <p style="margin-left: 37.5%">ঈশ—</p>
        <p>চমকে উপচে ক্রমশ নিঃশেষিত চায়ের কাপ, যেমন সশঙ্ক মস্তিষ্কে তোমার নির্বাপিত সব অনুভূতি।</p>
        <p>চতুর্থ রাউন্ড চায়ের বদলে আকাশভরা বর্ষণ পান করোনি কোনোদিন, শূন্য কাপ হাতে দাঁড়িয়ে ছিলে আছো মেছাচ্ছন্ন আকাশের নিচে; একটামাত্র মুদ্রা করে। ছয় বছর আগের সেই দীর্ঘশ্বাস উড়ে গেছে—কে জানে কোথায়, কে জানে, কবে।</p>
        <p>এ্যানি, এই শহরের কোনো কোনো গলিতে আজ nuvole bianche বৃষ্টি হবে।</p>
      </div>
    </div>
  </div>

</div>

<!-- Additional JS -->
<script src="js/story-11.min.js"></script>
{% endblock %}
