{% block title %}
ব্যাখ্যাতীত
{% endblock %}

{% block content %}
<!-- Main Div -->
<div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">

        <h1>ব্যাখ্যাতীত</h1>

        <div class="mb-5 d-none">
          <p>এইরকম দিন আসে, এইরকমই একেকটা দিন আসে…</p>
          <p>যেই ভোরে অমলের মৃত্যু ঘটবে, সেই ভোরটা হবে গ্লুমি</p>
          <p>কেমন একটা আবছা আলো চারদিকে</p>
          <p>কেমন একটা আবছা অন্ধকারে ডুবে থাকবে</p>
          <p>আর অমলের ঘরের সবকটা জানালা</p>
          <p>সেদিন পর্দা দিয়ে ঢাকা থাকবে…</p>
          <p>কেমন একটা আশ্চর্য দিন হবে সেটা, কেমন একটা দিন, যেন কোনোদিন কেউ দেখে নাই এমন একটা দিন,</p>
          <p>কেমন একটা বাতাস আসবে একটু পর পর, অমলের পর্দারা উড়তে থাকবে,</p>
          <p>আলোর পর আলো একেকটা ঢেউ হয়ে আসবে,</p>
          <p style="margin-left: 7.5%">ঘরটা একটু করে আলো হবে,</p>
        </div>

        <div class="mb-5 d-none">
          <p>আবার ঢেউয়ের পর ঢেউ হয়ে আসবে অন্ধকারেরা,</p>
          <p>ঘরটা অন্ধকারে ডুবে যাবে,</p>
        </div>

        <div class="mb-5 d-none">
          <p>আর অমল জেগে উঠবে, ধীরে, খুব ধীরে ধীরে ধীরে…</p>
        </div>

        <div class="mb-5 d-none">
          <p>স্বপ্ন আর বাস্তবতার পার্থক্য করতে তার দীর্ঘ সময় চলে যাবে</p>
          <p style="margin-left: 05%">কারণ হোয়াট ইজ দিস, হোয়াট ইজ দিস স্টেট,</p>
          <p style="margin-left: 10%">আমি কে</p>
          <p style="margin-left: 15%">কোথায় আছি</p>
          <p style="margin-left: 20%">ঘরের কোণায় কোকাকোলার ক্যানটা কি বাস্তব, এইটা কি বাস্তব, এইটা কি সালভাদর থেকে উঠে আসা একটা প্রতিচ্ছায়া মাত্র,</p>
          <p style="margin-left: 15%">চারপাশে আলো, তবু কেন অন্ধকারে ডুবে ডুবে যায়,</p>
          <p style="margin-left: 10%">এইসব প্রশ্ন তারে তাড়িত করবে</p>
          <p>সে কি জাইগা উঠতেসে</p>
          <p>নাকি সে আরও গাঢ় স্বপ্নে প্রবিষ্ট হইতেসে</p>
          <p>সে কিছুই বুঝবে না</p>
          <p>কেবল একটা অস্পষ্ট চেহারা নিয়ে বিছানায় পড়ে থাকবে অনন্তকাল ধরে</p>
        </div>

        <div class="mb-5 d-none">
          <p>এ লো মে লো</p>
        </div>

        <div class="mb-5">
          <p>সে উঠে দাঁড়াবে, ধীরে ধীরে</p>
          <p>যেন সারা বাসায় আর কেউ নাই</p>
          <p>সেখানে গাঢ় অন্ধকার</p>
          <p style="margin-left: 10%">কেবল অমলের ঘরে অন্ধকার ফিকে হয়ে আসে</p>
          <p>সেই আবছা অন্ধকারে</p>
        </div>

        <div id="2-d"> <!-- `2-d` is an abbreviation for `2-down-going` -->
          <p style="margin-left: 03%">এলোমেলো ঘর পার হয়ে</p>
          <p style="margin-left: 06%">অমল বাথরুমে প্রবেশ করবে</p>
          <p style="margin-left: 09%">বাথটাব</p>
          <p style="margin-left: 12%">ভর্তি</p>
          <p style="margin-left: 15%">জল</p>
          <p style="margin-left: 18%">ভোরের</p>
          <p style="margin-left: 21%">স্নান</p>
          <p style="margin-left: 24%">এইটা যদি স্বপ্ন হয় তবু</p>
          <p style="margin-left: 27%">কিংবা বাস্তবতা</p>
          <p style="margin-left: 30%">এপ্রিলীয় ভোরের একটা নরম, জলজ স্নান</p>
          <p style="margin-left: 33%">অমল আলো জ্বালবে না, অমল কোনো কথা বলবে না</p>
          <p style="margin-left: 36%">অমল তার স্বপ্ন ও বাস্তবতার ঘোর নিয়ে বাথটাবে প্রবেশ করতে থাকবে</p>
          <p style="margin-left: 39%">একটা অন্তহীন ঘুমে সে ডুবে ডুবে যাবে</p>
          <p style="margin-left: 42%">জিম মরিসনের মতো একটা ব্যাখ্যাতীত</p>
        </div>

        <div class="text-center mb-5">
          <p>মৃত্যু</p>
        </div>

      </div>
    </div>
  </div>

</div>

<!-- Additional JS -->
<script src="js/story-2.min.js"></script>
{% endblock %}
