{% block title %}
মৌহূর্তিক আলো ও তৎপরবর্তী স্তব্ধতা
{% endblock %}

{% block content %}
<!-- Main Div -->
<div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
        <h1 class="text-start">মৌহূর্তিক আলো ও তৎপরবর্তী স্তব্ধতা</h1>
        <p>মৌহূর্তিক আলো ও তৎপরবর্তী স্তব্ধতা—</p>
        <p>এই ছিলো, এই নাই,</p>
        <p>শক্তির মতো মুক্তি খোঁজা: প্রভু, নষ্ট হয়ে যাই—</p>
        <p>সুতরাং, এমন কি হতে পারে যে, আবির দুই ধাপে অবসোলেট হয়ে যাবে—</p>
        <p>And how happy they would be that they would be gone!</p>
        <h5 class="fw-bold">ধাপ ১</h5>
        <p>মৃত্যুর মতো ব্যাপ্ত মিলেনিয়াল শূন্যতায় আচমকা প্রবেশ ঘটবে আলোর,</p>
        <h5 class="fw-bold">ধাপ ২</h5>
        <p>আবিরের আবির্ভাব ঘটবে</p>
        <p>সায়েন্স ল্যাবের রাতে,</p>
        <p>কার্তিকেয় কৃষ্ণপক্ষের মোড়ে।</p>
        <p>কেউ জানবে না কেন সে এতখানি দৃষ্ট হবে,</p>
        <p>কেন সে সৃষ্ট হবে এবং পরমুহূর্তেই একটা মৃতদেহ নিয়ে পড়ে থাকবে—</p>
        <p>সমস্ত জামা খুলে সে চিৎকার করবে, এবং সমস্ত জামা খুলে সে ছুটতে থাকবে উন্মাদের মতো,</p>
        <p>এবং প্রোজ্জ্বল ল্যাবএইড</p>
        <p>আলোময় কলাবাগান</p>
        <p>টোয়াইলাইট শুক্রাবাদ</p>
        <p>প্রায়ান্ধকার সোবহানবাগ</p>
        <p>আলোময় আসাদগেট</p>
        <p>প্রায়ান্ধকার কলেজগেট</p>
        <p>আলোময় শ্যামলী</p>
        <p>প্রায়ান্ধকার কল্যাণপুর</p>
        <p>অন্ধকার মাজার রোড</p>
        <p>শেষত, অন্ধ-আলোর গাবতলী পার হয়ে সে সম্পূর্ণ অন্ধকারে প্রবেশ করবে, শাহরিক দৃশ্যময়তা ও সশব্দতা থেকে সে ক্রমাগত দূরে, এরপর তীব্র দূরে, এরপর অমানুষিক দূরে সরে যেতে থাকবে, তার ক্রমাগত আর্তনাদ ক্রমাগত বাতাসে হারায়ে যাবে, কেবল অস্পষ্ট একটা সিলুয়েট আর শব্দকে অনন্তকাল ধরে দূরে সরে যেতে দেখা যাবে,</p>
        <p>এবং শহরে প্রবেশ করতে থাকা হানিফদের হুংকারে একসময় আবিরের অস্তিত্ব আর অনুভব করা যাবে না।</p>
      </div>
    </div>
  </div>
</div>

<!-- Additional JS -->

{% endblock %}
