{% block title %}
ইদ্ধ
{% endblock %}

{% block content %}
<!--
TODO: Create a modal which would say, যেসব শব্দ দেবনগরীতে লেখা হয়েছে—তারা উচ্চারিতও হবে দেবনগরীতে।
-->
<!-- Main Div -->
<div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
        <h1 class="text-start">ইদ্ধ</h1>
        <div>
          <div>
            <p>সুতরাং মেঘবন্দী তারা আটকে থাকে—</p>
            <p style="margin-left: 7.5%">নামবে কি বৃষ্টি, शाण्ता,</p>
            <p style="margin-left: 7.5%">অবিরাম এই অন্তিম ধারা শুধু জন্ম নিবে, তবু মোক্ষ পাবে না কেউ</p>
            <p style="margin-left: 7.5%">ঘন থেকে গাঢ় মেঘে তারা আটকে থাক, আটকে আটকে থাক</p>
            <p style="margin-left: 7.5%">আর ভূমি থেকে একটুখানি উঁচুতে যেই সত্তা ভাসমান—সেই সত্তা মৃত্যু- কিংবা ইদ্ধি-, কিছু একটা,</p>
            <p style="margin-left: 15%">-প্রাপ্ত হয়ে যাক</p>

            <p>আদৌ বর্ষণ কেন ঘটবে, अमत्ता, যখন জ্ঞাত—মাটি ও আকাশ থেকে যাবে অস্পৃষ্ট, স্পর্শের ইচ্ছা হয়ে আসবে বিগত—কেবল চাওয়া, ভূমি থেকে একটুখানি উঁচুতে ভাসমান, মৃত কিংবা ইদ্ধ হবার—</p>

            <p>আসন্ন কি আরাহান্ত?</p>
          </div>

          <div class="text-center">
            <img src="images/6-iddho.svg" class="rounded mb-4" width="200em" alt="">
          </div>

          <p id="6-m" style="margin-left: 7.5%; margin-right: 7.5%;">গভীর থেকে গভীরতম, এবং গভীরতম, এবং গভীর গভীরতম ভারে অস্তিত্ব আচ্ছন্ন হয়ে থাকে, মেঘ থেকে মেঘে মেঘে সবকিছু ঘেরাও, কুরচি ফুলের অর্ঘ্যে ফেরাও বর্ষণবার্তা বারবার; এইবার উত্তরমেঘ বিদিত হবে, माया, কারণ নিয়তির অধীন তারাও—খণ্ডবিখণ্ড, অতঃপর বিক্ষিপ্ত—অর্থাৎ প্রতিবার বিদ্যমানতা চূর্ণ হওয়ামাত্র তত্র একীভূত হবে, शून्यता, পরিণামে হালকা হয়ে আসবে সবকিছু, এবং হালকা হতে থাকবে, মৃদু থেকে মৃদুতর, এবং মৃদুতর, এবং মৃদু মৃদুতর,</p>

          <p id="6-l" style="margin-left: 15%" class="text-end">ভূমি থেকে একটুখানি উঁচুতে ভাসমান, <span class="text-decoration-line-through">মৃত,&NoBreak;&nbsp;&NoBreak;কিংবা</span>, ইদ্ধ…</p> <!-- The margin-left is needed for mobile versions -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Additional JS -->
<script src="js/story-6.min.js"></script>
{% endblock %}
