{% block title %}
ইদ্ধ
{% endblock %}

{% block content %}
<!-- Main Div -->
<div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
        <h1 class="text-start">ইদ্ধ</h1>
        <div>
          <p>সুতরাং মেঘবন্দী তারা আটকে থাকে—</p>
          <p>নামবে কি বৃষ্টি, शाण्ता,</p>
          <p>অবিরাম এই অন্তিম ধারা শুধু জন্ম নিবে, তবু মোক্ষ পাবে না কেউ</p>
          <p>ঘন থেকে গাঢ় মেঘে তারা আটকে থাক, আটকে আটকে থাক</p>
          <p>আর ভূমি থেকে একটুখানি উঁচুতে যেই সত্তা ভাসমান—সেই সত্তা মৃত্যু- কিংবা ইদ্ধি-, কিছু একটা,</p>
          <p>-প্রাপ্ত হয়ে যাক</p>

          <p>তাহলে কেন বর্ষণ ঘটবে, डेबी, যখন জ্ঞাত—মাটি ও আকাশ—দুটাই থেকে যাবে অস্পৃষ্ট, এবং চাবেও না তারা স্পর্শ করতে, কেবল ইচ্ছা, ভূমি থেকে একটুখানি উঁচুতে ভাসমান, মৃত কিংবা ইদ্ধ হবার—</p>

          <p>অতএব আসন্ন আরাহান্ত—</p>
          <p>গভীরতম ভারে অস্তিত্ব আচ্ছন্ন হয়ে ছিলো, মেঘ থেকে মেঘে ঘেরাও বর্ষণবার্তা পাঠাচ্ছিলো বারবার, এইবার উত্তরমেঘ বিদিত হবে—महामाया, কারণ নিয়তির অধীন তুমিও—খণ্ডবিখণ্ড, অতঃপর বিক্ষিপ্ত—অর্থাৎ প্রতিবার বিদ্যমানতা চূর্ণ হওয়ামাত্র তোমার সাথে তারা একীভূত হবে, प्राज्ञ, পরিণামে সবকিছু হালকা হয়ে আসে, এবং হালকা হতে থাকে, মৃদু থেকে মৃদুতর, এবং মৃদুতর, এবং মৃদু মৃদুতর, ভূমি থেকে একটুখানি উঁচুতে ভাসমান, জীবন্ত, কিন্তু ইদ্ধ…</p> <!-- TODO: Change the word प्राज्ञ -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Additional JS -->
<!--<script src="js/story-5.min.js"></script>-->
{% endblock %}
