{% block meta %}
{
"title": "হাইপোথিসিস, শেখেরটেক বারো",
"description": "শাওনের মার্চিক রাত্রির সমাপ্তি শেখেরটেক আটের ইসমাইলে ঘটবে না—আরও চার ধাপ উত্তরণ ঘটে মূর্তিমান হবে সে চা-বেলায়"
}
{% endblock %}

{% block content %}
<!-- Onload Modal-->
<div class="container">
  <!-- Button to trigger the modal -->
  <button class="d-none" data-bs-target="#info" data-bs-toggle="modal" id="8-mt" type="button"></button> <!-- `mt` means `modal-trigger` -->
  <!-- Modal of info -->
  <div aria-hidden="true" aria-labelledby="" class="modal fade" id="info" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark text-light">
        <div class="modal-body text-center">
          <div class="mt-3 mb-3">
            এই লেখাটা পড়ার আগে শান্ত হওয়া দরকার।
          </div>
          <div>
            <button id="8-y" type="button" class="btn btn-sm btn-outline-light" data-bs-dismiss="modal">আমি এখন শান্ত</button>
            <button id="8-n" type="button" class="btn btn-sm btn-outline-light" data-bs-dismiss="modal">এই মুহূর্তে অশান্ত</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Div -->
<div id="8-md">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
        <h1 class="text-start">হাইপোথিসিস, শেখেরটেক বারো</h1>
        <div>
          <p>শাওনের মার্চিক রাত্রির সমাপ্তি শেখেরটেক আটের ইসমাইলে ঘটবে না—আরও চার ধাপ উত্তরণ ঘটে মূর্তিমান হবে সে চা-বেলায়, ফুটপাথে—একটা প্যাস্টেলরঙা দেয়ালের সামনে,</p>
          <p style="margin-left: 7.5%">সেই প্রবেলায় চা-বেলায় পা ফেলামাত্র শাওনের ধ্রুপদী রকের দেয়াল ভেঙে পড়বে তার মাথার উপরে বিস্তৃত একটা বাগানবিলাসের র‍্যান্ডম বৃষ্টির মতো,</p>
          <p style="margin-left: 7.5%">রাত্তির ঠিক এমন নামবে, যখন বাউগেনভিলিয়া নামটা আর ক্লিশে মনে হবে না, আর ক্লিশে মনে হবে না বি গিজের কোনো গানও—</p>
          <p style="margin-left: 7.5%">খোলস যখন টুকরো হবে, জন্ম নিবে কোন অবস্কিওর ভাব—সড়কজুড়ে কোন আশ্চর্য প্রদর্শন—</p> <!-- TODO: টুকরোকে টুকরো করতে হবে! -->
          <p style="margin-left: 7.5%" class="fst-italic">How Deep is Your Love,</p>
          <p style="margin-left: 7.5%" class="fst-italic">How—</p>

          <div>
            <div class="mb-5">
              <img id="8-i-1" src="images/8-text-01.svg" height="100em" alt="" style="margin-left: 06vw; transform: rotate(-06deg); opacity: 0;">
            </div>
            <div class="mb-5">
              <img id="8-i-2" src="images/8-text-02.svg" height="100em" alt="" style="margin-left: 36vw; transform: rotate(+20deg); opacity: 0;">
            </div>
            <div class="mb-5">
              <img id="8-i-3" src="images/8-text-03.svg" height="100em" alt="" style="margin-left: 04vw; transform: rotate(+04deg); opacity: 0;">
            </div>
            <div id="8-pts" class="mb-5"> <!--`pts` means `post-text-start`. Anchoring here, because jumping this will be obscured by navbar (partially), and the next section will be more visible. -->
              <img id="8-i-4" src="images/8-text-04.svg" height="100em" alt="" style="margin-left: 25vw; transform: rotate(-08deg); opacity: 0;">
            </div>
          </div>

          <a id="8-jtpts" href="#8-pts" class="d-none"></a> <!-- `jtpts` means `jump to post-text-start` -->

          <div class="8-pti d-none"> <!-- `pti` means `post-texts-and-image` -->
            <p>সুতরাং আবৃত্ত হবে শাওনের সেইসব দ্বিমত—</p>
            <p style="margin-left: 7.5%">অস্তিত্ব হারায় জেনেটিক যোগসূত্র—হোক ক্ষুদ্র, তবু ভৈরব বিপদ—</p>
            <p style="margin-left: 7.5%">হয়তো এটাই কাম্য—অর্থের অপটিমাম অনিশ্চয়তা—তবু জ্ঞানের জেনেরিক রূপ এই যে, বিক্ষিপ্ত রাক্তিক সম্পর্ক যেই অবস্তুগত অ্যান্টাগোনিস্টের মধ্য দিয়ে সংযুক্ত হবে তার নাম কমন ক্রাইসিস,</p>

            <p class="mb-0">এবং মধ্যরাতে চা-বেলার ঝাঁপি যখন নেমে আসবে, এমন রঙীন একটা প্রশ্ন বাতাসে ভাসতে থাকবে—</p> <!-- `mb-0` class given to keep the text closer to the following image -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid 8-pti d-none">
    <img src="images/8-colour.png" class="img-fluid" alt="">
  </div>

  <div class="container 8-pti d-none">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
        <div>
          <div class="fst-italic text-center">
            <p class="mb-0">আনাতো নো আই</p>
            <p>ওয়া হিজো নি ফুকাই—</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Additional JS -->
<script src="js/story-8.min.js"></script>
{% endblock %}
