{% block meta %}
{
"title": "Cawm",
"description": "",
"url": "https://shurommo-arzo.web.app/9-cawm.html"
}
{% endblock %}

{% block content %}
<!-- Onload Modal-->
<div class="container">
  <!-- Button to trigger the modal -->
  <button class="d-none" data-bs-target="#info" data-bs-toggle="modal" id="9-mt" type="button"></button> <!-- `mt` means `modal-trigger` -->
  <!-- Modal of info -->
  <div aria-hidden="true" aria-labelledby="" class="modal fade" id="info" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="mt-3 mb-3">
            এই লেখা পড়ার আগে মগজ থেকে কারফিউ তুলে দিতে হবে।
          </div>
          <div>
            <button id="9-y" type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">বেশ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Div -->
<div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
        <h1 class="text-start">Cawm</h1>
        <div>
          <div id="9-sq" class="text-start fst-italic ps-4 pe-4 mb-4"> <!-- `sq` for `starter-quote` -->
            <div class="9-sql">“</div> <!-- `sql` means `starter-quote-line` -->
            <div class="fw-bold 9-sql">Vladimir:</div>
            <div class="9-sql">Calm yourself.</div>
            <div class="d-none 9-sql"></div> <!-- Just for a delay! -->
            <div class="d-none 9-sql"></div> <!-- Just for a delay! -->
            <div class="d-none 9-sql"></div> <!-- Just for a delay! -->
            <div class="fw-bold 9-sql">Estragon:</div>
            <div class="9-sql">(Voluptuously) Calm…calm…The English say, cawm…</div>
            <div class="text-end 9-sql">”</div>
            <div class="d-none 9-sql"></div> <!-- Just for a delay! -->
            <div class="d-none 9-sql"></div> <!-- Just for a delay! -->
            <div class="d-none 9-sql"></div> <!-- Just for a delay! -->
            <div class="d-none 9-sql"></div> <!-- Just for a delay! -->
            <div class="d-none 9-sql"></div> <!-- Just for a delay! -->
            <div class="text-end 9-sql">
              <div>(—Waiting for Godot</div>
              <div>Samuel Beckett, 1953)</div>
            </div>
            <div class="d-none 9-sql"></div> <!-- Just for a delay! -->
          </div>

          <div id="9-t" style="color: white"> <!-- `t` for `text`, of course -->
            <div>
              <p>এবং কোন ভাবনার সূত্র ধরে সূত্রপাত ঘটে তোমার লুপ্ততার, <span class="fst-italic">Cawm</span>,</p>
              <p style="margin-left: 7.5%;">অবশ কি হয়ে আসে শরীর, শিমুলতুলা হয়ে কি উড়ে যায় কনশাসনেস সব,</p>
              <p style="margin-left: 7.5%;">এমনটা কি হতে পারে—তুমি এইখানে আছো, এবং ইতস্তত বাতাসে শহরময় ভেসে বেড়াচ্ছো,</p>
              <p style="margin-left: 7.5%;">অন্ধ কি হয়ে যাই দেখে: ভাইব্রেন্ট মুখোশের আড়ালে লুকানো কী অ্যাবজার্ড কালো বিষাদ—</p>
              <p>ঈশ্বর গড়েছেন কি তোমাকে ভ্যান গগ ও কাফকার সঙ্গে পরামর্শ করে?</p>
            </div>

            <br>

            <div>
              <p>কোনো চিন্তা নেই, <span class="fst-italic">Cawm</span>,</p>
              <p style="margin-left: 7.5%;">আপাতত ও আপাতদৃষ্টিতে ইজ্‌মেরা স্রেফ বাদ—</p>
              <p style="margin-left: 7.5%;">আমি চাই, ভেঙে যাক ছাদ, ভী-ষ-ণ একটা ঝড় নামুক চিত্রা নক্ষত্রের নিচে,</p>
              <p style="margin-left: 7.5%;">অনিত্য যত তার্কিক আর নশ্বর যত তর্কের স্রোত</p>
              <p style="margin-left: 7.5%;">এক নিমেষে অবলুপ্ত হোক—</p>
              <p>তাদের সাথে তোমার পার্থক্যটা স্পষ্ট—তারা স্পর্শের অযোগ্য, আর তুমি স্পর্শাতীত।</p>
            </div>

            <br>

            <div>
              <p class="mb-0"><span class="fst-italic">Cawm</span>, কেউ কি বলেনি তোমাকে কোনোদিন—কী আশ্চর্য—তোমার নামজুড়ে যে ব্যাপ্ত একটা অপার্থিব উচ্চারণ—</p>
              <p class="text-center mb-0" style="font-size: 6em;">ॐ!</p>
            </div>

            <div class="text-center" style="color: white;">
              <p class="mb-0">“या देवी सर्वभूतेषु शान्तारूपेण संस्थिता</p>
              <p class="mb-0">नमस्तस्यै नमस्तस्यै नमस्तस्यै नमो नम—”</p>
            </div>

            <br>

            <div>
              <p>একদিন ঘুমিয়ে ছিলাম। ঘুম ভাঙার ঠিক আগমুহূর্তে, ব্রিলিয়ান্ট একটা স্বপ্নে তোমাকে মুখোমুখি দেখলাম, <span class="fst-italic">Cawm</span>।</p>
            </div>

            <br>

            <div id="9-ld" class="text-center"> <!-- `ld` means `last-div` -->
              <p>
                <span>ই</span><span>চ্ছা</span><span>&nbsp;</span><span>ক</span><span>রে,</span>
              </p>
              <br>
              <p>
                <span>তো</span><span>মা</span><span>র</span><span>&nbsp;</span><span>অ</span><span>স্তি</span><span>ত্বে</span>
              </p>
              <br>
              <p>
                <span>নি</span><span>জে</span><span>র</span><span>&nbsp;</span><span>স</span><span>ত্তা</span><span>কে</span>
              </p>
              <br>
              <p>
                <span>বি</span><span>লী</span><span>ন</span><span>&nbsp;</span><span>ক</span><span>রে</span><span>&nbsp;</span><span>দে</span><span>ই—</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Additional JS -->
<script src="js/story-9.min.js"></script>
{% endblock %}
