{% block meta %}
{
"description": "সুরম্য আর্যের গপ্পো"
}
{% endblock %}

{% block content %}
<!-- Custom CSS for Bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<!-- Main Div -->
<div>
  <!-- Cover Image -->
  <div class="container container-fluid p-5">
    <div class="row justify-content-center">
      <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <img src="images/cover.svg" alt="সুরম্য আর্য">
      </div>
    </div>
  </div>

  <!-- Links of Stories -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7">
        <div id="stories">
          <div class="h1">গপ্পো</div>

          <div class="card">
            <div class="card-header">
              এপ্রিল, ২০২১
            </div>
            <div class="card-body">
              <h4 class="card-title">শাহরিক</h4>
              <p class="card-text">
                শত বিপত্তি সত্ত্বেও আমি শান্তার কথা লিখবো, কারণ এই কথাগুলা লিখে রাখা জরুরি। একটা সময় আসবে, যখন এইসব কথা পুনরাবৃত্ত করতে শত শত মৃতদেহ ভীড় করবে, তারা হাত বাড়ায়ে দিবে, কান ছড়ায়ে দিবে, তারা উন্মত্ত হয়ে চিৎকার করবে। তারা মাটির ওপর দাঁড়ায়ে মাটিকে কাদায় পরিণত করবে, এবং...
              </p>
              <a href="1-shahorik.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              মে, ২০২১
            </div>
            <div class="card-body">
              <h4 class="card-title">ব্যাখ্যাতীত</h4>
              <p class="card-text">
                এইরকম দিন আসে, এইরকমই একেকটা দিন আসে…<br>
                যেই ভোরে অমলের মৃত্যু ঘটবে, সেই ভোরটা হবে গ্লুমি<br>
                কেমন একটা আবছা আলো চারদিকে<br>
                কেমন একটা আবছা অন্ধকারে ডুবে থাকবে...
              </p>
              <a href="2-byakhyateeto.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              মে, ২০২১
            </div>
            <div class="card-body">
              <h4 class="card-title">ধানমন্ডি আড়াইয়ের মধ্যসন্ধ্যায় যেমন করে বিষণ্নতা নামে</h4>
              <p class="card-text">
                এবং এভাবেই এটা ঘটবে—<br>
                মিতু একইসঙ্গে জন-অরণ্যে ও শব্দহীন সলিচুডে মাথা চেপে বসে থাকবে<br>
                তাকে দেখা যাবে<br>
                তাকে দেখা যাবে না<br>
                প্রতি মুহূর্তে একটা মিতু অদৃশ্য হয়ে আরেকটা মিতু দৃশ্যমান হবে...
              </p>
              <a href="3-dhanmondi-arhaiyer-modhyoshondhay-jemon-kore-bishonnota-name.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              জুলাই, ২০২১
            </div>
            <div class="card-body">
              <h5 class="card-title">উপত্যকা, সেন্ট্রাল রোড</h5>
              <p class="card-text">
                সেন্ট্রাল রোডের উপত্যকায় এক্স্যাক্ট এমন একটা সন্ধ্যা নামবে...
              </p>
              <a href="4-upotyoka-central-road.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              ডিসেম্বর, ২০২১
            </div>
            <div class="card-body">
              <h5 class="card-title">মৌহূর্তিক আলো ও তৎপরবর্তী স্তব্ধতা</h5>
              <p class="card-text">
                আবিরের আবির্ভাব ঘটবে<br>
                &emsp;&emsp;সায়েন্স ল্যাবের রাতে,<br>
                &emsp;&emsp;কার্তিকেয় কৃষ্ণপক্ষের মোড়ে...<br>
              </p>
              <a href="5-mouhurtik-alo-o-tothporobortee-stobdhota.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              ফেব্রুয়ারি, ২০২২
            </div>
            <div class="card-body">
              <h5 class="card-title">মৃত্যু অথবা ইদ্ধি</h5>
              <p class="card-text">
                সুতরাং মেঘবন্দী তারা আটকে থাকে—<br>
                &emsp;&emsp;নামবে কি বৃষ্টি, शाण्ता...<br>
              </p>
              <a href="6-mrrityu-othoba-iddhi.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              ফেব্রুয়ারি, ২০২২
            </div>
            <div class="card-body">
              <h5 class="card-title">ব্রহ্মাস্ত্র</h5>
              <p class="card-text">
                সার্কুলার রোডের কোনো উপগলিতে ঘুমিয়ে পড়া যেতে পারে। বিকাল চারটার স্মগে যখন আচ্ছন্ন দশদিক—<br>
                ঈশান থেকে নৈঋতে ভেসে আসবে নিষেধাজ্ঞার ফিসফাস...<br>
              </p>
              <a href="7-brohmastro.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              মার্চ, ২০২২
            </div>
            <div class="card-body">
              <h5 class="card-title">হাইপোথিসিস, শেখেরটেক বারো</h5>
              <p class="card-text">
                শাওনের মার্চিক রাত্রির সমাপ্তি শেখেরটেক আটের ইসমাইলে ঘটবে না—আরও চার ধাপ উত্তরণ ঘটে মূর্তিমান হবে সে চা-বেলায়, ফুটপাথে—প্যাস্টেলরঙা একটা দেয়ালের সামনে,<br>
                সেই প্রবেলায় চা-বেলায় পা ফেলামাত্র শাওনের ধ্রুপদী রকের দেয়াল ভেঙে পড়বে তার মাথার উপরে বিস্তৃত একটা বাগানবিলাসের র‍্যান্ডম বৃষ্টির মতো...<br>
              </p>
              <a href="8-hypothesis-shekhertek-12.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              এপ্রিল, ২০২২
            </div>
            <div class="card-body">
              <h5 class="card-title fst-italic">Cawm</h5>
              <p class="card-text">
                এবং কোন ভাবনার সূত্র ধরে সূত্রপাত ঘটে তোমার লুপ্ততার, <span class="fst-italic">Cawm</span>,<br>
                &emsp;&emsp;অবশ কি হয়ে আসে শরীর, শিমুলতুলা হয়ে কি উড়ে যায় কনশাসনেস সব...<br>
              </p>
              <a href="9-cawm.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              এপ্রিল, ২০২২
            </div>
            <div class="card-body">
              <h5 class="card-title">মজারতম সপ্তদশ মৃত্যু</h5>
              <p class="card-text">
                তোমার সামনে একটা পথই খোলা থাকবে, এবং পথটা হবে ইনহেরেন্টলি স্যাড...<br>
              </p>
              <a href="10-mojartomo-shoptodosh-mrrityu.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              জুন, ২০২২
            </div>
            <div class="card-body">
              <h5 class="card-title">সম্ভাব্য চতুর্থ রাউন্ড</h5>
              <p class="card-text">
                এই শহরের কোথাও কোথাও আজ nuvole bianche বৃষ্টি হবে।<br>
                ঠিক ষোলো সালের দেজা ভ্যু, ফিরে ফিরে বারবার আসে...<br>
              </p>
              <a href="11-shomvabyo-choturrtho-round.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              সেপ্টেম্বর, ২০২২
            </div>
            <div class="card-body">
              <h5 class="card-title">সেপ্টেম্বর, ২০২২</h5>
              <p class="card-text">
                সেপ্টেম্বর, ২০২২-এর কথা আমরা আলাদা করে মনে রাখবো। আমাদের দেখা ও না-দেখার সেপ্টেম্বর, আমাদের হারানো ও ফিরে পাওয়ার সেপ্টেম্বর, এবং আশ্চর্য সন্ধ্যায় নিজের মুখোমুখি হওয়ার সেপ্টেম্বর—আমরা ব্যস্ত ফুটপাথে এলোমেলো হেঁটে বেড়াবো, আমরা ধাক্কা দিবো ত্রস্ত মানুষজনের গায়ে—আমাদের হাত ছুটে যাবে, আমরা হাত ধরবো বারবার...<br>
              </p>
              <a href="12-september-2022.html" class="btn btn-sm btn-outline-dark stretched-link">বিশদ</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div id="footer" class="bg-dark text-light" style="transform: translate(0,1.5rem)">
    <!--
      On the transformation of this footer:
      The footer is actually **inside** the main div—which has a mb-4 class (meaning an 1.5rem margin at the bottom).
      This is why a translation was needed—to cover the 1.5rem blank gap under the footer.
    -->
    <div class="container small text-center p-3">
      <p class="mb-1">&copy; ২০২১-২৩, সুরম্য আর্য</p>
      <a href="mailto:hasan.nahiyan.nobel@gmail.com"><i class="bi bi-envelope-fill text-light"></i></a>
      &ensp;
      <a href="https://www.facebook.com/hasan.nahiyan.nobel.1996" target="_blank"><i class="bi bi-facebook text-light"></i></a>
    </div>
  </div>
</div>
{% endblock %}
