{% block meta %}
{
"title": "সুইসাইড নোট",
"description": "সুরম্য আর্যের সুইসাইড নোট",
"url": "https://shurommo-arzo.web.app/suicide-note.html"
}
{% endblock %}

{% block content %}
<!-- Main Div -->
<div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
        <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh">
          You knew, right?
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Additional JS -->
{% endblock %}
